body{

background:#2563eb;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Poppins;

}

.login{

background:white;

padding:40px;

width:350px;

border-radius:20px;

display:flex;

flex-direction:column;

gap:15px;

}

input{

padding:12px;

}

button{

padding:12px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

}