*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#f5f7ff;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,.1);

}

.logo{

display:flex;
align-items:center;
gap:10px;

}

nav a{

text-decoration:none;
margin-left:25px;
color:#1e40af;
font-weight:bold;

}

.hero{

height:80vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h1{

font-size:55px;

color:#1e3a8a;

}

.hero p{

margin:20px;

font-size:20px;

}

button{

padding:15px 35px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-size:18px;

}

button:hover{

background:#1d4ed8;

}

.fitur{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

padding:60px;

}

.card{

background:white;

padding:30px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 20px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}